/*.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1001;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 100%;
  }
*/
.modal {
    position: relative; /* Ajout pour permettre un positionnement absolu à l'intérieur */
    width: 80%;
    height: 80%; /* Takes up 80% of its parent's height */
    border: 2px solid  #5c6ac4; /* As shown in the image */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    margin: 0 20px; /* Assuming some margin is needed */
    background-color: #ffffff;
  }

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
 

  .options-container {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
  }
  
  .validate-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .strategy-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .validate-button.disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
  }
  
  .validate-button.active {
    background-color: #5c6ac4;
    color: white;
  }

  .validation-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    background-color: #f44336; /* Red color, change as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px; /* Adjust spacing between buttons */
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; /* Assuming rounded corners */
  }
  
  .close-button:hover {
    background-color: #d32f2f; /* Darker shade for hover, adjust as needed */
  }
  
  /* Optional: If you have specific styles for .disabled or .active, consider adding similar styles for .close-button if needed */
  
  
  .validation-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .close-button, .validate-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 10px; /* Adjust as needed */
  }
  
  .close-button {
    background-color: #f44336;  
    color: white;
  }
  
  .close-button:hover {
    background-color: #d32f2f;  
  }
  
 
  
  .validate-button.disabled {
    background-color: #ccc; /* Example disabled style, adjust as needed */
  }
  